body {
  font-family: "Merriweather", "Klee One", serif;
  background-color: #F4F4F4;
}

.font-xs {
  font-size: 8px;
}

.font-sm {
  font-size: 16px;
}

.font-md {
  font-size: 24px;
}

.mb-sm {
  margin-bottom: 40px !important;
}

.mb-md {
  margin-bottom: 80px !important;
}

.mb-lg {
  margin-bottom: 160px !important;
}

.mb-xl {
  margin-bottom: 240px !important;
}

.pd-left {
  padding-left: 16px;
}

.pd-right {
  padding-right: 16px;
}

.modal {
  background-color: #FFFFFF;
  position: absolute;
  max-width: 70%;
  height: 100vh;
  left: -300px;
  overflow: hidden;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  z-index: 30;
}

.modal .modal-inner {
  padding: 24px;
}

.modal .modal-inner a {
  text-decoration: none;
}

.content-with {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  background-color: #FFFFFF;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-inner {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-inner .company-logo-img img {
  width: 160px;
  height: 40px;
}

.header .header-inner .site-nav {
  display: none;
}

.header .header-inner .humburger-menu .humburger-btn {
  background-color: transparent;
  border: none;
}

.header .header-inner .humburger-menu .humburger-btn > span {
  background-color: #000000;
  width: 40px;
  height: 1px;
  display: block;
  margin-bottom: 16px;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.header .header-inner .humburger-menu .humburger-btn > span:last-child {
  margin-bottom: 0;
}

.mask {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: #333232;
  opacity: 0.5;
  z-index: 20;
  display: none;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.menu-open .humburger-btn > span:nth-child(1) {
  -webkit-transform: translateY(17px) rotate(-315deg);
          transform: translateY(17px) rotate(-315deg);
}

.menu-open .humburger-btn > span:nth-child(2) {
  opacity: 0;
}

.menu-open .humburger-btn > span:nth-child(3) {
  -webkit-transform: translateY(-17px) rotate(315deg);
          transform: translateY(-17px) rotate(315deg);
}

.menu-open .mask {
  display: block;
}

.menu-open .modal {
  left: 0;
}

@media (min-width: 960px) {
  .font-xs {
    font-size: 24px;
  }
  .font-sm {
    font-size: 32px;
  }
  .font-md {
    font-size: 40px;
  }
  .font-xs {
    font-size: 8px;
  }
  .font-sm {
    font-size: 16px;
  }
  .font-md {
    font-size: 24px;
  }
  .mb-sm {
    margin-bottom: 80px !important;
  }
  .mb-md {
    margin-bottom: 80px !important;
  }
  .mb-lg {
    margin-bottom: 240px !important;
  }
  .mb-xl {
    margin-bottom: 320 !important;
  }
  .pd-left {
    padding-left: 32px;
  }
  .pd-right {
    padding-right: 32px;
  }
  .header {
    height: 120px;
  }
  .header .header-inner .company-logo-img img {
    width: 240px;
    height: 64px;
  }
  .header .header-inner .site-nav {
    display: block;
  }
  .header .header-inner .site-nav p {
    margin: 0;
    margin-top: 8px;
  }
  .header .header-inner .site-nav a {
    text-decoration: none;
    color: #000000;
  }
  .header .humburger-menu {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */