// --- フォントサイズ ---
.font-xs {
  font-size: 24px;
}

.font-sm {
  font-size: 32px;
}

.font-md {
  font-size: 40px;
}

// --- ボトムサイズ ---

.mb-sm {
  margin-bottom: 80px !important;
}

.mb-md {
  margin-bottom: 80px !important;
}

.mb-lg {
  margin-bottom: 240px !important;
}

.mb-xl {
  margin-bottom: 320 !important;
}

// パディングサイズ

.pd-left {
  padding-left: 32px;
}

.pd-right {
  padding-right: 32px;
}

// ---メインコンテンツ---

.header {
  height: 120px;
  .header-inner {
    .company-logo-img {
      // padding-top: 0;
      img {
        width: 240px;
        height: 64px;
      }
    }

    .site-nav {
      display: block;

      p {
        margin: 0;
        margin-top: 8px;
      }

      a {
        text-decoration: none;
        color: $cGray6;
      }
    }
  }
  .humburger-menu {
    display: none;
  }
}

.swiper {
  height: 560px !important;

  .swiper-slide {
    height: 560px;

    .imageLogo {
      & > img {
        height: 80px;
        width: 320px;
      }
    }
  }
}
