
// --- フォントサイズ ---
.font-xs {
  font-size: 24px;
}

.font-sm {
  font-size: 32px;
}

.font-md {
  font-size: 40px;
}

// --- ボトムサイズ ---


.font-xs {
  font-size: 8px;
}

.font-sm {
  font-size: 16px;
}

.font-md {
  font-size: 24px;
}

// --- ボトムサイズ ---

mb-sm {
  margin-bottom: 80px !important;
}

mb-md {
  margin-bottom: 80px !important;
}

mb-lg {
  margin-bottom: 240px !important;
}

mb-xl {
  margin-bottom: 320 !important;
}